/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin-top: 30px;
}

.gameboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 67%;
  border: 3px solid black;
}

.box {
  border: 3px solid black;
  flex-basis: 33.33%;
  height: 230px;
  text-align: center;
  font-size: 250px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 230px;
}

.box:hover {
  cursor: pointer;
}

/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
